body {
    border : 10px solid grey;
    margin: 20px auto;
    width: 50%;
    padding-left: 2em;;
}

h1 {
    color: goldenrod;
}

#html {
    border-left: 2px solid blue;
    padding-left: 10px;
}

#css {
    border-left: 2px solid blue;
    padding-left: 10px;
}

li {
    color: black;
}